@font-face {
    font-family: 'avenier-reg';
    src: url("./Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: 'avenier-med';
    src: url("./Assets/Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Medium.otf");
}

@font-face {
    font-family: 'avenier-demi';
    src: url("./Assets/Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: 'avenier-heavy';
    src: url("./Assets/Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Heavy.otf");
}

@font-face {
    font-family: 'avenier-bold';
    src: url("./Assets/Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}

