@mixin upload-button {
    background-color: #0095ff;
    margin: 1rem;
    color: white;
    height: 60px;
    width: 240px;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2px;
}

@mixin upload-button-tabletplus {
    background-color: #0095ff;
    margin: 1rem;
    color: white;
    height: 55px;
    width: 140px;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2px;
}

@mixin profile-image {
    //background-image: url(/src/Assets/images/Mohan-muruge.jpg);
    background-color: black;
    border-radius: 3rem;
    margin: 0.25rem;
    border: none;
    height: 60px;
    width: 60px;
}

$mobile-max: 426px;
$tablet-max: 1024px;
$laptop-and-above: (min-width: #{$tablet-max});
$mobile-size: (max-width: $mobile-max);
$tablet-size: (min-width: $mobile-max) and (max-width: $tablet-max);

@media screen and (max-width: $mobile-max) {

    .header {
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        
        &__inner-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1rem;
        }

        &__smaller-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__profile-image-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__upload-button-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__search-bar {
            border: 2px #e1e1e1 solid;
            border-radius: 0.5rem;
            margin: 1rem;
            width: 80vw;
            text-align: left;
            padding: 1rem;
        }

        &__upload-button {
        @include upload-button();
        }

        &__profile-image-container {
            margin: 0.5rem;
        }

        &__profile-image {
            @include profile-image();
        }

        &__logo {
            margin: 0 auto;
            padding: 1rem;
        }

        &__search-txt {
            margin-left: 1rem;
            color: #323232;
        }
    }
}


@media screen and (min-width: $mobile-max) {

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        width: 100vw;

        &__inner-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__smaller-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__profile-image-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__upload-button-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__search-bar {
            border: 2px #e1e1e1 solid;
            border-radius: 0.5rem;
            margin: 1rem;
            width: 200px;
            height: 20px;
            text-align: left;
            padding: 1rem;
        }

        &__upload-button {
            @include upload-button-tabletplus();
        }

        &__profile-image-container {
            margin: 0.5rem;
        }

        &__profile-image {
            @include profile-image();
            margin-right: 1rem;
        }

        &__logo {
            padding: 1rem;
        }

        &__search-txt {
            margin-left: 1rem;
            color: #323232;
        }
    }
}