@font-face {
    font-family: 'avenier-bold';
    src: url('../../Assets/fonts/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Heavy.ttf');
}

@font-face {
    font-family: 'avenier-reg';
    src: url('../../Assets/fonts/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Medium.ttf');
}

@font-face {
    font-family: 'avenier-med';
    src: url('../../Assets/fonts/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Demi.ttf');
}

@mixin doc-title {
   font-family: 'avenier-bold';
   font-size: 2.5rem;
   text-align: left;
}

@mixin video-list-title {
   font-family: 'avenier-med';
    font-size: 16px;
    text-align: left;
}

@mixin comment-box-header {
    font-family: 'avenier-reg';
    font-size: 18px;
    text-transform: uppercase;
    color: #323232;
    text-align: left;
    letter-spacing: 0.2px;
}

@mixin bodytext {
    font-family: 'avenier-reg';
    font-size: 16px;
    text-align: left;
}

$mobile-max: 426px;
$tablet-max: 1024px;
$laptop-and-above: (min-width: #{$tablet-max});
$mobile-size: (max-width: $mobile-max);
$tablet-size: (min-width: $mobile-max) and (max-width: $tablet-max);

.comments__title {
    text-align: left;
    font-family: 'avenier-reg';
    margin: 1rem 1rem 2rem 1rem;
    letter-spacing: 0.75px;
}



    .commentsform {
        display: flex;
        margin: 1rem 1rem 2rem 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #e1e1e1;

        @media screen and (min-width: $tablet-max){
            .commentsform{
            width: 600px;
            }
        }

    &__profile-image-large {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #e1e1e1;
        margin: 1rem 1rem 1rem 0.25rem;
    }

    &__comment-input-container {
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__post-button {
        background-color: #323232;
        color: #FFF;
        font-family: 'avenier-med';
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.5px;
        height: 50px;
        width: 100%;
        border: none;
        border-radius: 5px;
    }

    label {
    @include comment-box-header();

    }

    #commentsform__comment-input-area {
        background-color: #FAFAFA;
        border: solid 1px #e1e1e1;
        height: 100px;
        font-size: 16px;
        border-radius: 3px;
        font-family: 'avenier-reg';
        margin: 0.5rem 0rem 1.75rem 0rem;
        padding: 1rem;
    }

}


.comments {

    &__profileImageSmall {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #e1e1e1;
        margin: 1rem 1rem 1rem 0.25rem;
    }

    &__comment-container {
        margin: 1.5rem;
        border-bottom: 1px solid #e1e1e1;
        display: flex;
        flex-direction: column;
        font-family: 'avenier-reg';
        text-align: left;  
    }

    &__innerCommentContainer {
        display: flex;
        font-family: 'avenier-reg';
        color: #323232;
    }
    
    &__words {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 307px;
        
        @media screen and (min-width: $tablet-size) {
         width: 40vw; 
    }
    }

    &__user-name {
        font-family: 'avenier-med';
    }

    &__post-date {
        font-family: 'avenier-reg';
        color: #AFAFAF;
        margin-left: 2rem;
    }


    @media screen and (min-width: $mobile-max) and (max-width: $tablet-max) {
        width: 575px;
        flex-wrap: wrap;

        &__words {
            max-width: 445px;
        } 

    }

}




