$mobile-max: 426px;
$tablet-max: 1024px;
$laptop-and-above: (min-width: #{$tablet-max});
$mobile-size: (max-width: $mobile-max);
$tablet-size: (min-width: $mobile-max) and (max-width: $tablet-max);



@media screen and (min-width: 1024px) {

    .main-content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__description-comments {
            flex-grow: 1;
        }

    }

}